<section id="evidenza">
  <div class="section section-background-header py-5">
    <div class="container">
      <div class="row"><h2 class="text-white">Argomenti in evidenza</h2></div>
      <div class="py-4">
        <div
          class="card-wrapper card-teaser-wrapper card-teaser-wrapper-equal card-teaser-block-3">
          <div class="no-after rounded shadow card-teaser card">
            <div class="pb-5 card-body">
              <div class="category-top">
                <a class="category">
                  <it-icon class="icon" name="info-circle"></it-icon>
                </a>
                <span class="data"></span>
              </div>
              <h3 class="card-title">Cantieri in città</h3>
              <p class="card-text">
                Informazioni sui principali cantieri stradali aperti o in
                programmazione un città che comportano modifiche alla
                circolazione stradale.
              </p>
              <p class="card-text">Visita il sito:</p>
              <a href="/#"
                ><div class="card-bg-primary no-after mt-0 card-teaser card">
                  <div class="avatar size-lg mr-3">
                    <img src="https://picsum.photos/200/200" alt="Immagine" />
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Mobilità in Comune</h5>
                    <p class="text-sans-serif card-text">
                      Il sito del turismo del Comune e della Città
                      Metropolitana.
                    </p>
                  </div>
                </div></a
              >
            </div>
            <a class="read-more" href="#"
              ><span class="text">Esplora argomento</span
              ><it-icon name="arrow-right"></it-icon
            ></a>
          </div>
          <div class="no-after rounded shadow card-teaser card">
            <div class="pb-5 card-body">
              <div class="category-top">
                <a class="category"><it-icon name="clock"></it-icon></a
                ><span class="data"></span>
              </div>
              <h3 class="card-title">Estate in città</h3>
              <p class="card-text">
                Un ricco programma di appuntamenti: eventi culturali,
                ricreativi, concerti, mostre, cinema, ed altro ancora in diversi
                luoghi della città.
              </p>
              <div class="link-list-wrapper">
                <ul class="mt-4 link-list">
                  <li>
                    <a class="icon-left active list-item"
                      ><it-icon
                        class="icon icon-primary"
                        name="calendar"></it-icon
                      ><span>Eventi questo weekend</span></a
                    >
                  </li>
                  <li>
                    <a class="icon-left list-item"
                      ><it-icon
                        class="icon icon-primary"
                        name="calendar"></it-icon
                      ><span>Cosa fare questa settimana</span></a
                    >
                  </li>
                  <li>
                    <a class="icon-left list-item"
                      ><it-icon
                        class="icon icon-primary"
                        name="calendar"></it-icon
                      ><span>Agosto metropolitano</span></a
                    >
                  </li>
                  <li>
                    <a class="icon-left list-item"
                      ><it-icon
                        class="icon icon-primary"
                        name="calendar"></it-icon
                      ><span
                        >Orari estivi metro e bus in vigore dal 9 giugno</span
                      ></a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <a class="read-more" href="#"
              ><span class="text">Esplora l'argomento</span
              ><it-icon class="icon" name="arrow-right"></it-icon
            ></a>
          </div>
          <div class="no-after rounded shadow card-teaser card">
            <div class="pb-5 card-body">
              <div class="category-top">
                <a class="category"
                  ><it-icon class="icon" name="camera"></it-icon
                  ><span class="data"></span
                ></a>
              </div>
              <h3 class="card-title">Sport</h3>
              <p class="card-text">
                Tutto quello che c'è da sapere sulle strutture sportive comunali
                a disposizione del pubblico e delle Associazioni, le iniziative
                a sostegno dello sport e gli eventi che coinvolgono la città.
              </p>
              <div class="link-list-wrapper">
                <ul class="mt-4 link-list">
                  <li>
                    <a class="icon-left active list-item"
                      ><it-icon class="icon icon-primary" name="pa"></it-icon
                      ><span>Tutte le strutture turistiche della città</span></a
                    >
                  </li>
                  <li>
                    <a class="icon-left list-item"
                      ><it-icon
                        class="icon icon-primary"
                        name="calendar"></it-icon
                      ><span
                        >Da lunedì 3 settembre chiudono le vasche della piscina
                        comunale</span
                      ></a
                    >
                  </li>
                  <li>
                    <a class="icon-left list-item"
                      ><it-icon
                        class="icon icon-primary"
                        name="calendar"></it-icon
                      ><span
                        >Concessione contributi ad enti, associazioni, società
                        sportive</span
                      ></a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <a class="read-more" href="#"
              ><span class="text">Esplora l'argomento</span
              ><it-icon class="icon" name="arrow-right"></it-icon
            ></a>
          </div>
        </div>
      </div>
      <div class="pt-5 row">
        <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
          <div class="d-lg-inline-flex row">
            <div class="col-lg-3">
              <h6 class="text-uppercase text-center">Altri argomenti</h6>
            </div>
            <div class="col-lg-9">
              <div class="chip chip-simple chip-primary">
                <a class="chip-label" href="/#">Agevolazioni per la casa</a>
              </div>
              <div class="chip chip-simple chip-primary">
                <a class="chip-label" href="/#">Ambiente</a>
              </div>
              <div class="chip chip-simple chip-primary">
                <a class="chip-label" href="/#">Assistenza sociale</a>
              </div>
              <div class="chip chip-simple chip-primary">
                <a class="chip-label" href="/#">Costruire e ristrutturare</a>
              </div>
              <div class="chip chip-simple chip-primary">
                <a class="chip-label" href="/#">Famiglia</a>
              </div>
              <div class="chip chip-simple chip-primary">
                <a class="chip-label" href="/#">Immigrazione</a>
              </div>
              <div class="chip chip-simple chip-primary">
                <a class="chip-label" href="/#">Investire</a>
              </div>
              <div class="chip chip-simple chip-primary">
                <a class="chip-label" href="/#">Lavori pubblici</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="text-center col">
              <button class="mt-5 btn btn-primary">Vedi tutti</button>
            </div>
          </div>
        </div>
      </div>
      <div class="pt-5 row"><h3>Siti tematici</h3></div>
      <div class="py-4">
        <div
          class="card-wrapper card-teaser-wrapper card-teaser-wrapper-equal card-teaser-block-3">
          <div class="card-bg-primary rounded card-teaser card">
            <div class="avatar size-lg mr-3">
              <img src="https://picsum.photos/200/200" alt="Immagine" />
            </div>
            <div class="card-body">
              <h5 class="card-title">Mobilità in Comune</h5>
              <p class="text-sans-serif card-text">
                Il sito del turismo del Comune e della Città Metropolitana
              </p>
            </div>
          </div>
          <div class="card-bg-warning rounded card-teaser card">
            <div class="avatar size-lg mr-3">
              <img src="https://picsum.photos/200/200" alt="Immagine" />
            </div>
            <div class="card-body">
              <h5 class="card-title">Turismo</h5>
              <p class="text-sans-serif card-text">
                Il sito che offre informazioni sulle attività turistiche attive
                in città
              </p>
            </div>
          </div>
          <div class="card-bg-dark rounded card-teaser card">
            <div class="avatar size-lg mr-3">
              <img src="https://picsum.photos/200/200" alt="Immagine" />
            </div>
            <h5 class="card-body">
              <div class="card-title">Musei Civici</div>
              <p class="text-sans-serif card-text">
                Tutte le informazioni sui musei e gli eventi culturali della
                città
              </p>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
