<footer class="it-footer">
  <div class="it-footer-main">
    <div class="container">
      <section>
        <div class="clearfix row">
          <div class="col-sm-12">
            <div class="it-brand-wrapper">
              <a class="" href="/#"
                ><it-icon class="icon" name="pa"></it-icon>
                <div class="it-brand-text">
                  <h2 class="no_toc">Nome del Comune</h2>
                  <h3 class="no_toc d-none d-md-block">
                    Uno dei tanti Comuni d'Italia
                  </h3>
                </div></a
              >
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="row">
          <div class="pb-2 col-sm-6 col-md-3 col-lg-3">
            <h4>
              <a title="Vai alla pagina: Amministrazione" href="/#"
                >Amministrazione</a
              >
            </h4>
            <div class="link-list-wrapper">
              <ul class="footer-list clearfix link-list">
                <li>
                  <a
                    title="Vai alla pagina: Giunta e consiglio"
                    href="#"
                    class="list-item"
                    >Giunta e consiglio</a
                  >
                </li>
                <li>
                  <a
                    title="Vai alla pagina: Aree di competenza"
                    href="#"
                    class="list-item"
                    >Aree di competenza</a
                  >
                </li>
                <li>
                  <a
                    title="Vai alla pagina: Dipendenti"
                    href="#"
                    class="list-item"
                    >Dipendenti</a
                  >
                </li>
                <li>
                  <a title="Vai alla pagina: Luoghi" href="#" class="list-item"
                    >Luoghi</a
                  >
                </li>
                <li>
                  <a
                    title="Vai alla pagina: Associazioni e società partecipate"
                    href="#"
                    class="list-item"
                    >Associazioni e società partecipate</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="pb-2 col-sm-6 col-md-3 col-lg-3">
            <h4><a title="Vai alla pagina: Servizi" href="/#">Servizi</a></h4>
            <div class="link-list-wrapper">
              <ul class="footer-list clearfix link-list">
                <li>
                  <a
                    title="Vai alla pagina: Pagamenti"
                    href="#"
                    class="list-item"
                    >Pagamenti</a
                  >
                </li>
                <li>
                  <a
                    title="Vai alla pagina: Sostegno"
                    href="#"
                    class="list-item"
                    >Sostegno</a
                  >
                </li>
                <li>
                  <a
                    title="Vai alla pagina: Domande e iscrizioni"
                    href="#"
                    class="list-item"
                    >Domande e iscrizioni</a
                  >
                </li>
                <li>
                  <a
                    title="Vai alla pagina: Segnalazioni"
                    href="#"
                    class="list-item"
                    >Segnalazioni</a
                  >
                </li>
                <li>
                  <a
                    title="Vai alla pagina: Autorizzazioni e concessioni"
                    href="#"
                    class="list-item"
                    >Autorizzazioni e concessioni</a
                  >
                </li>
                <li>
                  <a
                    title="Vai alla pagina: Certificati e dichiarazioni"
                    href="#"
                    class="list-item"
                    >Certificati e dichiarazioni</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="pb-2 col-sm-6 col-md-3 col-lg-3">
            <h4><a title="Vai alla pagina: Novità" href="/#">Novità</a></h4>
            <div class="link-list-wrapper">
              <ul class="footer-list clearfix link-list">
                <li>
                  <a title="Vai alla pagina: Notizie" href="#" class="list-item"
                    >Notizie</a
                  >
                </li>
                <li>
                  <a title="Vai alla pagina: Eventi" href="#" class="list-item"
                    >Eventi</a
                  >
                </li>
                <li>
                  <a
                    title="Vai alla pagina: Comunicati Stampa"
                    href="#"
                    class="list-item"
                    >Comunicati Stampa</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3">
            <h4>
              <a title="Vai alla pagina: Documenti" href="/#">Documenti</a>
            </h4>
            <div class="link-list-wrapper">
              <ul class="footer-list clearfix link-list">
                <li>
                  <a
                    title="Vai alla pagina: Progetti e attività"
                    href="#"
                    class="list-item"
                    >Progetti e attività</a
                  >
                </li>
                <li>
                  <a
                    title="Vai alla pagina: Delibere, determine e ordinanze"
                    href="#"
                    class="list-item"
                    >Delibere, determine e ordinanze</a
                  >
                </li>
                <li>
                  <a title="Vai alla pagina: Bandi" href="#" class="list-item"
                    >Bandi</a
                  >
                </li>
                <li>
                  <a
                    title="Vai alla pagina: Concorsi"
                    href="#"
                    class="list-item"
                    >Concorsi</a
                  >
                </li>
                <li>
                  <a
                    title="Vai alla pagina: Albo pretorio"
                    href="#"
                    class="list-item"
                    >Albo pretorio</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="py-4 border-white border-top">
        <div class="row">
          <div class="pb-2 col-md-3 col-lg-3">
            <h4>
              <a title="Vai alla pagina: Amministrazione" href="/#"
                >Amministrazione trasparente</a
              >
            </h4>
            <p>
              I dati personali pubblicati sono riutilizzabili solo alle
              condizioni previste dalla direttiva comunitaria 2003/98/CE e dal
              d.lgs. 36/2006
            </p>
          </div>
          <div class="pb-2 col-md-3 col-lg-3">
            <h4><a title="Vai alla pagina: Contatti" href="/#">Contatti</a></h4>
            <p>
              <strong>Nome del Comune</strong><br />Via Roma - 00100<!-- -->
              Codice fiscale / P. IVA: 000000000
            </p>
            <div class="link-list-wrapper">
              <ul class="footer-list clearfix link-list">
                <li>
                  <a
                    title="Vai alla pagina: Posta Elettronica Certificata"
                    href="#"
                    class="list-item"
                    >Posta Elettronica Certificata</a
                  >
                </li>
                <li>
                  <a
                    title="Vai alla pagina: URP - Ufficio Relazioni con il Pubblico"
                    href="#"
                    class="list-item"
                    >URP - Ufficio Relazioni con il Pubblico</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="pb-2 col-md-3 col-lg-3">
            <h4>
              <a title="Vai alla pagina: Newsletter" href="/#">Newsletter</a>
            </h4>
            <form action="#" method="post" class="form-newsletter">
              <label
                for="input-newsletter"
                style="transition: none 0s ease 0s"
                class="text-white font-weight-semibold active"
                >Iscriviti per riceverla</label
              >
              <div class="form-group">
                <input
                  type="email"
                  id="input-newsletter"
                  name="input-newsletter"
                  class="form-control"
                  placeholder="mail@example.com"
                  value="" /><label
                  for="input-newsletter"
                  class="active"></label
                ><small class="form-text text-muted"></small>
              </div>
              <button type="submit" class="btn-icon btn btn-primary">
                <it-icon class="icon icon-white" name="mail"></it-icon
                ><span>Iscriviti</span>
              </button>
            </form>
          </div>
          <div class="pb-2 col-md-3 col-lg-3">
            <h4>
              <a title="Vai alla pagina: Seguici su" href="/#">Seguici su</a>
            </h4>
            <ul class="list-inline text-left social">
              <li class="list-inline-item">
                <a class="p-2 text-white" target="_blank" href="/#">
                  <it-icon
                    class="icon align-top icon-white icon-sm sm"
                    name="designers-italia"></it-icon>
                  <span class="sr-only">Designers Italia</span></a
                >
              </li>
              <li class="list-inline-item">
                <a class="p-2 text-white" target="_blank" href="/#">
                  <it-icon
                    class="icon align-top icon-white icon-sm sm"
                    name="twitter"></it-icon>
                  <span class="sr-only">Twitter</span></a
                >
              </li>
              <li class="list-inline-item">
                <a class="p-2 text-white" target="_blank" href="/#">
                  <it-icon
                    class="icon align-top icon-white icon-sm sm"
                    name="medium"></it-icon>

                  <span class="sr-only">Medium</span></a
                >
              </li>
              <li class="list-inline-item">
                <a class="p-2 text-white" target="_blank" href="/#">
                  <it-icon
                    class="icon align-top icon-white icon-sm sm"
                    name="behance"></it-icon>
                  <span class="sr-only">Behance</span></a
                >
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="it-footer-small-prints clearfix">
    <div class="container">
      <h3 class="sr-only">Sezione Link Utili</h3>
      <ul
        class="it-footer-small-prints-list list-inline mb-0 d-flex flex-column flex-md-row">
        <li class="list-inline-item">
          <a title="Note Legali" href="/#">Media policy</a>
        </li>
        <li class="list-inline-item">
          <a title="Note Legali" href="/#">Note legali</a>
        </li>
        <li class="list-inline-item">
          <a title="Privacy-Cookies" href="/#">Privacy policy</a>
        </li>
        <li class="list-inline-item">
          <a title="Mappa del sito" href="/#">Mappa del sito</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
