<section id="calendario">
  <div class="section section-muted pb-5 pt-0">
    <div class="container">
      <div class="row">
        <div
          class="card-wrapper card-teaser-wrapper card-overlapping card-teaser-wrapper-equal card-teaser-block-3">
          <div
            class="card-teaser-image card-flex no-after rounded shadow card-teaser card">
            <div class="card-image-wrapper with-read-more pb-5">
              <div class="p-4 card-body">
                <div class="category-top">
                  <a class="category"
                    ><it-icon name="pa"></it-icon>Giunta e consiglio</a
                  ><span class="data"></span>
                </div>
                <div class="font-weight-semibold card-title">Mario Rossi</div>
                <p class="card-text card-text">Sindaco della città</p>
              </div>
              <div class="card-image card-image-rounded pb-5">
                <img
                  src="https://picsum.photos/150/200"
                  alt="Immagine di esempio"
                  class="card-img" />
              </div>
            </div>
            <a
              class="ps-4 read-more"
              href="/design-comuni-prototipi/esempi/bootstrap-italia/template-amministrazione.html"
              ><span class="text">Tutta l'amministrazione</span
              ><it-icon name="arrow-right"></it-icon
            ></a>
          </div>
          <div class="no-after rounded shadow card-teaser card">
            <div class="pb-5 card-body">
              <div class="category-top">
                <a class="category"><it-icon name="pa"></it-icon>Pagamenti</a
                ><span class="data"></span>
              </div>
              <div class="font-weight-semibold card-title">
                TARI - Tassa dei rifiuti
              </div>
              <p class="card-text">
                La TARI è in scadenza, controlla il tuo pagamento nella tua area
                personale.
              </p>
            </div>
            <a class="read-more" href="#"
              ><span class="text">Tutti i servizi</span
              ><it-icon name="arrow-right"></it-icon
            ></a>
          </div>
          <div class="no-after rounded shadow card-teaser card">
            <div class="pb-5 card-body">
              <div class="category-top">
                <a class="category"><it-icon name="pa"></it-icon>Bandi</a
                ><span class="data"></span>
              </div>
              <div class="font-weight-semibold card-title">
                Come partecipare ad un bando
              </div>
              <p class="card-text">
                Tutte le informazioni e i documenti necessari per partecipare.
              </p>
            </div>
            <a
              class="read-more"
              href="/design-comuni-prototipi/esempi/bootstrap-italia/template-documenti.html"
              ><span class="text">Tutti i documenti</span
              ><it-icon name="arrow-right"></it-icon
            ></a>
          </div>
        </div>
      </div>
      <div class="row-title pt-5 pb-3 row">
        <h2>Calendario</h2>
        <div>
          <button itButton="secondary" type="button" size="sm" class="mt-1">
            Tutto</button
          ><button
            itButton="outline-secondary"
            type="button"
            size="sm"
            class="mt-1">
            <it-icon name="pa"></it-icon>
            <span>Consigli comunali</span></button
          ><button
            itButton="outline-secondary"
            type="button"
            size="sm"
            class="mt-1">
            <it-icon name="calendar"></it-icon>
            <span>Eventi</span></button
          ><button
            itButton="outline-secondary"
            type="button"
            size="sm"
            class="mt-1">
            <it-icon name="settings"></it-icon>
            <span>Scadenze</span>
          </button>
        </div>
      </div>
      <div class="row-calendar row">
        <div
          class="it-carousel-wrapper it-carousel-landscape-abstract-three-cols it-calendar-wrapper">
          <div class="it-header-block">
            <div class="it-header-block-title">
              <h4 class="mb-0 text-center">{{ month | titlecase }}</h4>
            </div>
          </div>
          <div
            class="it-carousel-all owl-carousel it-card-bg owl-loaded owl-drag">
            <owl-carousel-o [options]="customOptions">
              <ng-container>
                @for (slide of slidesStore; track slide.id) {
                  <ng-template carouselSlide [id]="slide.id">
                    <div class="owl-item" style="width: 320px">
                      <div class="it-single-slide-wrapper">
                        <div class="card-wrapper">
                          <div class="card-bg card">
                            <div class="card-body">
                              <h5 class="card-title">
                                {{ slide.date
                                }}<span>{{ slide.dayOfWeek }}</span>
                              </h5>
                              <p class="card-text">
                                <a href="/#">Saldo TASI</a>
                              </p>
                              <p class="card-text">
                                <a href="/#"
                                  >Concerto gratuito piazza XX Settembre</a
                                >
                              </p>
                              <p class="card-text">
                                <a href="/#"
                                  >Convocazione Consiglio Comunale - Prima
                                  seduta</a
                                >
                              </p>
                              <p class="card-text">
                                <a href="/#">Seconda rata TARI</a>
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                }
              </ng-container>
            </owl-carousel-o>
            <!-- <div class="owl-stage-outer">
              <div
                class="owl-stage"
                style="
                  transform: translate3d(0px, 0px, 0px);
                  transition: all 0s ease 0s;
                  width: 2664px;
                "></div>
            </div>
            <div class="owl-nav disabled">
              <button class="owl-prev"></button
              ><button class="owl-next"></button>
            </div> -->
            <div class="owl-dots">
              <button class="owl-dot active" aria-labelledby="owl-dot-0">
                <span></span></button
              ><button class="owl-dot" aria-labelledby="owl-dot-1">
                <span></span></button
              ><button class="owl-dot" aria-labelledby="owl-dot-2">
                <span></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
