<section id="head-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-lg-2 offset-lg-1">
        <img
          src="https://picsum.photos/800/600"
          title="img title"
          alt="imagealt"
          class="img-fluid" />
      </div>
      <div class="col-lg-5 order-lg-1">
        <div class="card-wrapper">
          <div class="card">
            <div class="pb-5 card-body">
              <div class="categoryicon-top">
                <it-icon name="calendar"></it-icon
                ><span class="text">Notizie</span>
              </div>
              <h4 class="card-title">
                Parte l'estate con oltre 300 eventi in centro e nei quartieri,
                tutti gli eventi previsti
              </h4>
              <p class="card-text">
                Inaugurazione lunedì 2 luglio con il concerto gratuito in piazza
                XX Settembre degli Sweet Soul Revue. Sul palco 20 musicisti da
                tutto il mondo.
              </p>
              <div class="chip chip-simple chip-primary">
                <a class="chip-label" href="/#">Estate in città</a>
              </div>
              <a class="pb-3 read-more" href="#"
                ><span class="text">Tutte le novità</span></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
